# Object files
*.o
*.ko
*.obj
*.elf
__pycache__/
*.py[cod]
*$py.class


# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Temporary
*.swp
objs
depend

# ide things
.vscode/

# build dirs
builddir/
build/